<!DOCTYPE html>
<html lang="zh-cn">
 <head> 
  <meta charset="utf-8" /> 
  <title>听说过没见过</title> 
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.5" />
  <link rel="shortcut icon" href="../static/fav.ico" />
  <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" /> 
  <link href="../static/jqvmap.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="../static/quguo.css" media="screen" rel="stylesheet" type="text/css" /> 
 </head> 
 <body> 
  <div class="container"> 
   <div class="row"> 
    <div class="col-sm-12"> 
     <div class="input-group has-feedback"> 
      <input type="text" class="form-control" id="countrySearch" placeholder="搜索国/省/大洲点按添加(支持中英文)" /> 
      <div class="input-group-btn"> 
       <ul class="dropdown-menu dropdown-menu-right" role="menu"> 
       </ul> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="vmap" style="width: 100%; height: 300px;"></div> 
   <div id="vmapcn" style="width: 100%; height:150px; margin-left: auto; margin-right: auto"></div> 
  </div> 
  <div class=" btn-group"> 
   <div id="remove" class="col-sm-12"> 
   </div>

   <button type="submit" id="add_new" formmethod="POST">click me</button>
    <button class="btn btn-primary" id="selected">已选中(0)</button>
  </div>


  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script> 
  <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
  <script src="../static/bootstrap-suggest.js"></script> 
  <script src="../static/quguo.js"></script> 
  <script src="../static/jquery.vmap.js"></script> 
  <script src="../static/jquery.vmap.world.js" charset="utf-8"></script> 
  <script src="../static/jquery.vmap.china.js" charset="utf-8"></script>  
 </body>
</html>